<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <countview>
            <general>
                <enable>1</enable>
                <period></period>
            </general>
        </countview>
    </default>
</config>
